/* --------------------- general ------------------- */

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroylight.woff);
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroyextrabold.woff);
    font-weight: 800;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff);
    font-weight: 300;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* --------------------- header ------------------- */
header a {
    color: black;
    text-decoration: none;
}

.header-orange-background {
    position: relative;
    max-height: 300px;
    background-color: #f7e296;
    padding: 50px 56px;
    padding-bottom: 67px;
    margin-top: -16px;
}

.device-logo-header {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    top: 12px;
    left: 57px;
    z-index: 10;
}

.nav-left {
    float: left;
    width: 502px;
}

.nav-right {
    float: right;
    width: 502px;
}

.top-nav {
    margin-bottom: 25px;
}

.top-nav .nav-left {
    margin-left: 44px;
    height: 40px;
}

.search-form {
    float: left;
    margin-left: -35px;
    width: 400px;
    background-color: #f7e296;
    border: none;
    padding-bottom: 14px;
    background-repeat: no-repeat;
}

.search-form button {
    position: absolute;
    top: 34px;
    left: 400px;
    background-color: #f7e296;
    border: 2px solid black;
    padding: 15px 20px;
    display: none;
}


.search-form input {
    background-color: #f7e296;
    border: none;
    width: 353px;
    padding-left: 35px;
}

.search-form label {
    position: absolute;
    left: 62px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("../img/spritesheet.png");
    background-position: -20px -287px;
    cursor: pointer;
}

.search-form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.top-nav .nav-right a {
    margin-left: 24px;
}

.top-nav .nav-right a:nth-of-type(1) {
    margin-right: 207px;
}

.top-nav .nav-right a:nth-of-type(3) {
    margin-left: 56px;
}

.top-nav .nav-right a:nth-of-type(1)::before {
    position: absolute;
    top: 52px;
    left: 601px;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("../img/spritesheet.png");
    background-position: -20px -439px;
}

.top-nav .nav-right a:nth-of-type(2)::before {
    position: absolute;
    top: 54px;
    left: 888px;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("../img/spritesheet.png");
    background-position: -20px -72px;
}

.top-nav .nav-right a:nth-of-type(3)::before {
    position: absolute;
    top: 53px;
    left: 1017px;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("../img/spritesheet.png");
    background-position: -20px -20px;
}

.bottom-nav {
    font-family: "Gilroy", Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
}

.bottom-nav .nav-right a {
    margin-right: 26px;
}

.bottom-nav .nav-right a:last-of-type {
    margin-left: 70px;
    margin-right: 0;
}

.bottom-nav .nav-left a:first-of-type {
    margin-left: 5px;
}

/* ---------------- dropdown menu
 -----------------*/

.dropdown-menu {
    position: absolute;
    top: 145px;
    left: 15px;
    width: 1100px;
    display: none;

    background-color: #f7e296;
    z-index: 1000;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-link {
    cursor: pointer;
}

.dropdown-link::after {
    position: absolute;
    top: 117px;
    left: 292px;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url("../img/spritesheet.png");
    background-position: -20px -231px;
    cursor: pointer
}

.dropdown-checkbox:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.dropdown-menu a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 400;
}

/* ------------  hover and
                 focus states
 */


.device-logo-header:hover {
    color: #464646;
}

.device-logo-header:focus {
    color: #666666;
}

.top-nav a:hover {
    color: rgba(0,0,0, 0.6);
}

.top-nav a:focus {
    color: rgba(0,0,0, 0.3)
}

.top-nav a:hover::before {
    opacity: 0.6;
}

.top-nav a:focus::before {
    opacity: 0.3;
}

.bottom-nav a:hover {
    color: rgba(0,0,0, 0.6);
}

.bottom-nav a:focus {
    color: rgba(0,0,0, 0.3);
}


.bottom-nav a:hover::after {
    opacity: 0.6;
}

.bottom-nav a:focus::after {
    opacity: 0.3;
}

.dropdown-link:active {
    color: rgba(0,0,0, 0.3);
}

.dropdown-link::after:active {
    color: rgba(0,0,0, 0.1);
    opacity: 0.1;
}

.dropdown-link:hover,
.dropdown-link:hover::after {
    opacity: 0.6;
}


.search-form input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}


.search-form input:focus {
    outline: none;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.search-form input:focus + button {
    display: block;
}

.search-form input:focus + button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.search-form input:focus + button:focus {
    background-color: black;
    color: rgba(255,255,255, 0.3);
    display: block;
}

.search-form button:hover {
    display: inline-block;
    background-color: black;
    color: rgba(255,255,255, 0.3);
}



/* --------------------- index.html ------------------- */
.white-line {
    background-color: #fff;
    width: 100px;
    height: 7px;
    margin-top: 90px;
}



/* ------------------ slider

 */
.slider {
    position: relative;
    bottom: 137px;
    z-index: 100;
}

.slider-image {
    float: left;
    width: 500px;
    margin-left: 60px;
    position: relative;
}

.slide-description {
    float: right;
    width: 500px;
    margin-right: 60px;
    position: relative;
}

.slider input[type=radio]{
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    right: 50px;
    top: 200px;
    z-index: 2000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid rgba(0,0,0, .3);
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::after {
    position: relative;
    bottom: 3px;
    right: 26px;
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    margin-left: 23px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slide b {
    position: relative;
    left: 257px;
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 180px;
    font-weight: 900;
    color: white;
}

.slide h2 {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 100px;
    left: 0;
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 47px;
    font-weight: 900;
}




/* --------------------- catalog.html ------------------- */